# external requirements
pytest
coverage
isort
flake8
pytest

kaggle
wandb
torch
pytorch-lightning
pandas
transformers
argparse
matplotlib
optuna
Flask
Flask-Caching
gunicorn
hydra-core

# local package
-e .
